* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
  margin: 0;
  background-color: #3a3973;
  color: white;
}

.jumbotron {
  background: none;
}

section {
  margin-top: 3rem;
}

html {
  font-size: 15px;
}


@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

